- name: add to group
  user:
    name: danielf
    groups: microk8s
    append: yes
  become: true

- name: install helm
  become: true
  snap:
    name: kubectl
    classic: true

- name: install helm
  become: true
  snap:
    name: helm

- name: kube cfg dir permissions
  become: true
  file:
    path: /home/danielf/.kube
    state: directory

- name: create kubecfg
  become: true
  shell: |
    microk8s kubectl config view --raw > /home/danielf/.kube/config
  args:
    creates: /home/danielf/.kube/config

- name: kube cfg dir permissions
  become: true
  file:
    path: /home/danielf/.kube
    owner: danielf
    group: danielf
    recurse: yes

